.editInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;

    background-color: #121214;
    color: white;
}

.editInfo-inputs { 
    background-color: #29292E;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    padding: 20px;
    width: 500px;
    height: 500px;
}

.editInfo-inputs h1 {
    font-family: 'Roboto Slab';
    font-size: 40px;
    margin-bottom: 20px;
}

.editInfo-inputEmail {
    display: flex;
    align-items: center;
    color: gray;
    background-color: #1A1A1D;
    border-radius: 5px;
    padding: 3px;
    width: 98%;
    height: 50px;
    margin-bottom: 10px;
}

.editInfo-inputName {
    display: flex;
    align-items: center;
    color: gray;
    background-color: #1A1A1D;
    border-radius: 5px;
    padding: 3px;
    width: 98%;
    height: 50px;
    margin-bottom: 10px;
}

.editInfo-inputCPF {
    display: flex;
    align-items: center;
    color: gray;
    background-color: #1A1A1D;
    border-radius: 5px;
    padding: 3px;
    width: 98%;
    height: 50px;
    margin-bottom: 10px;
}

.editInfo-inputEmail svg {
    margin-left: 10px;
    font-size: 25px;
}

.editInfo-inputName svg {
    margin-left: 10px;
    font-size: 25px;
}

.editInfo-inputCPF svg {
    margin-left: 10px;
    font-size: 25px;
}

.editInfo-inputEmail input {
    background: transparent;
    width: 100%;
    outline-width: 0;
    color: #E1E1E6;
    border: none;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
}

.editInfo-inputName input {
    background: transparent;
    width: 100%;
    outline-width: 0;
    color: #E1E1E6;
    border: none;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
}

.editInfo-inputCPF input {
    background: transparent;
    width: 100%;
    outline-width: 0;
    color: #E1E1E6;
    border: none;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
}

.editInfo-inputPassword {
    display: flex;
    align-items: center;
    color: gray;
    background-color: #1A1A1D;
    border-radius: 3px;
    padding: 3px;
    margin: 5px;
    width: 98%;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.editInfo-inputPassword svg {
    margin-left: 10px;
    font-size: 25px;
}

.editInfo-inputPassword input {
    background: transparent;
    width: 100%;
    outline-width: 0;
    color:  #E1E1E6;
    border: none;
    font-size: 17px;
    margin-left: 12px;
    margin-right: 10px;
}

.editInfo-inputs button {
    width: 98%;
    background-color: #202024;
    color: #EFF2F5;
    font-weight: 800;
    height: 50px;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 5px;
    border: none;
    margin-bottom: 10px;

    outline-width: 0;
}

.editInfo-inputs button:hover {
    background-color: #121214;
    color: #EFF2F5;
    cursor: pointer;
}